@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';

@theme {
  --color-osh-white: #f1f5f9;
  --color-osh-grey: #999;
  --font-pretendard: 'Pretendard', sans-serif;
}

@layer base {
  html {
    @apply bg-osh-white;
    @apply font-pretendard;
  }

  body {
    @apply m-[0_auto];
    @apply w-full;
    @apply max-w-[600px];
    @apply py-[100px];
  }
}

@layer components {
  .blog-card {
    @apply w-full;
    @apply flex;
    @apply justify-between;
    @apply rounded-[15px];
    @apply bg-white;
    @apply p-[20px];
    @apply h-fit;
  }
}

@layer utilities {
  .text-xs {
    @apply text-[12px];
  }
}
