---
import type { MarkdownInstance } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { FrontMatter } from '@type/FrontMatter';
import { getCollection } from 'astro:content';

const allPostList = await getCollection('blog');

const allTagList = allPostList.reduce<string[]>((acc, cur) => {
  return [...acc, ...cur.data.tags];
}, []);
---

<BaseLayout pageTitle="tags">
  <ul>
    {
      allTagList.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .tag > a {
    text-decoration: none;
    color: black;
  }
</style>
