---
import type { MarkdownInstance } from 'astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { FrontMatter } from '@type/FrontMatter';

const allPostList = Object.values(
  import.meta.glob<MarkdownInstance<FrontMatter>>('@pages/posts/*.md', {
    eager: true,
  })
);
const allTagList = allPostList.reduce<string[]>((acc, cur) => {
  return [...acc, ...cur.frontmatter.tags];
}, []);
---

<BaseLayout pageTitle="tags">
  <ul>
    {
      allTagList.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style>
  .tag > a {
    text-decoration: none;
    color: black;
  }
</style>
