---
import BaseLayout from '../layouts/BaseLayout.astro';
import '@styles/global.css';

const finished = true;
---

<BaseLayout pageTitle="About Page">
  <p>This is About page</p>
</BaseLayout>

<script>
  import '@scripts/menu';
</script>
