---
import BaseLayout from '../layouts/BaseLayout.astro';
import '@styles/global.css';
---

<BaseLayout pageTitle="HomePage">
  <p>Hello world!</p>
</BaseLayout>

<script>
  import '@scripts/menu';
</script>
