---
import { getCollection } from 'astro:content';
import Header from '@components/Header.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogCard from '@components/BlogCard/BlogCard.astro';

import '@styles/global.css';

const allPosts = await getCollection('post');
---

<BaseLayout>
  <div class="home-wrapper">
    <Header />
    <section class="home">
      <ul class="flex flex-col gap-[30px]">
        {
          allPosts.map((post) => (
            <BlogCard
              class="blog-card group"
              postInfo={post.data}
              href={`/posts/${post.id}`}
            />
          ))
        }
      </ul>
    </section>
  </div>
</BaseLayout>
