---
import AnchorWrapper from './AnchorWrapper/AnchorWrapper.astro';
import PostImage from './PostImage/PostImage.astro';
---

<header class="fixed top-[5%] left-[5%]">
  <nav>
    <AnchorWrapper
      class="inline-block w-[50px] h-[50px]"
      href="https://github.com/tjd985"
      target="_blank"
    >
      <PostImage src="/github.png" objectFit="contain" />
    </AnchorWrapper>
  </nav>
</header>
