---
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/global.css';

const { pageTitle } = Astro.props;

const titleColor = '#ff0000';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>seongho's blog</title>
  </head>
  <body>
    <Header />
    <h1>{pageTitle}</h1>
    <slot />
    <Footer />
    <script>
      import '@scripts/menu.ts';
    </script>

    <style define:vars={{ titleColor }}>
      h1 {
        font-size: 3rem;
        color: var(--titleColor);
      }
    </style>
  </body>
</html>
