---
import '@styles/global.css';
import GAHeader from '@components/Provider/GoogleAnaltyics/GAHeader.astro';
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>seongho's blog</title>

    <!-- Google tag (gtag.js) -->
    <GAHeader />
  </head>
  <body>
    <slot />
  </body>
</html>
