---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
const { title, pubDate, description } = frontmatter;
---

<BaseLayout>
  <h1>{title}</h1>
  <p>{description}</p>
  <p>{pubDate}</p>
  <slot />
</BaseLayout>

<style>
  .tag > a {
    text-decoration: none;
    color: black;
  }
</style>
